body {
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
}
.bg-body-tertiary {
  background-color: transparent !important;
  /* position: fixed; */
  z-index: 1;
  width: 100%;
}

header {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid gray;
}

.navbar {
  padding: 0 50px;
  position: absolute;
}
.navbar-brand {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.5rem;
  color: white;
}
.navbar-brand:hover {
  color: white;
}

.navbar-collapse {
  flex-grow: unset;
}

.navbar-nav a {
  border: 2px solid black;
  color: black;
  padding: 5px 15px !important;
  border-radius: 50px;
  transition: 0.3s ease;
  background-color: white;
  font-size: 0.9rem;
}
.navbar-nav a:hover {
  color: white;
  background-color: black;
}

.navbar-nav li {
  padding: 0 5px;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/background_image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(50%);
}

.hero-content {
  position: absolute;
  color: white;
}

.hero-content h1 {
  font-size: 9rem;
  font-family: 'Reenie Beanie', cursive;
  border-bottom: 5px solid white;
  padding: 0 60px;
}

.hero-content span {
  font-size: 2rem;
  padding: 0 50px;
}

.margin-padding {
  padding: 70px 0;
}
.image img {
  width: 100%;
  height: 800px;
  border-radius: 200px;
}

.background {
  background-color: black;
}

.simon-padding {
  padding: 0 40px;
}
.simon-content {
  padding-left: 70px;
}
.simon-content h2 {
  font-size: 3rem;
  letter-spacing: 0.7rem;
  padding-bottom: 15px;
}

.simon-content span {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.6rem;
}

.group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nature {
  position: relative;
}
.group::before {
  content: '';
  width: 100%;
  height: 200px;
  background-size: calc(100%) 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.nature::before {
  background-image: url(images/nature.jpg);
}

.wild::before {
  background-image: url(images/wild.jpg);
  background-size: calc(100%) 500%;
  background-position: center center;
}

.travel::before {
  background-image: url(images/travel.jpg);
  background-size: calc(100%) 300%;
  background-position: center center;
}
.nature-content,
.wild-content,
.travel-content {
  position: absolute;
  color: white;
}

.group h3 {
  font-size: 5rem;
  padding: 0 60px;
}

.bg-black {
  background-color: black !important;
  display: block !important;
  padding-bottom: 25px;
}

.gal-nav a:hover {
  border: 2px solid white;
}

.gal-title {
  margin: 0 auto;
  border-bottom: 5px solid white;
  letter-spacing: 1rem;
}

.gal-title h1{
  font-size: 3rem;
  padding: 0 200px;
}

.bg-image{
  background: url(images/whblk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

.bg-image::before {
  content: "";
  background: rgba(255, 255, 255, 0.7); 
  position: absolute;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  height: 100%;
  width: 100%;
  z-index: -1; 
}

.gal-content{
  padding: 250px 50px 70px;
  z-index: 1;
  color: black;
}

.nav li{
  padding-bottom: 30px;
}
.nav a{
  color:black;
  font-weight: bold;
  display: inline;
  font-size: 1.3rem;
  padding:0 0 5px 0;
  
}

.nav a:hover{
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: 5px;
}

.nav a:visited{
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: 5px;
}
.active-link{
  border-bottom: 2px solid black;
  color: black;
  padding-bottom: 5px;
}



.image-content{
  display: none;
}

.active{
  display: block;
}







.galleryWrap,.natureWrap, .wildWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  
  grid-gap: 0.5em;
  grid-auto-flow: row dense;
}


.galleryWrap img, .natureWrap img, .wildWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryWrap img[src$='_w.jpg'] {
  grid-column-end: span 2;
}

.galleryWrap img[src$='_p.jpg'] {
  grid-row-end: span 2;
}

.galleryWrap img:nth-child(4){
  grid-row-end: span 3;
}

.galleryWrap img:nth-child(5){
  grid-column-end: span 4;
}


.galleryWrap img:nth-child(8){
  grid-column-end: span 2;
}


.natureWrap img[src$='_w.jpg'] {
  grid-column-end: span 2;
}

.natureWrap img[src$='_p.jpg'] {
  grid-row-end: span 2;
}

.natureWrap img:nth-child(4){
  grid-column-end: span 2;
}

.natureWrap img:nth-child(2){
  grid-row-end: span 2;
}
.natureWrap img:nth-child(5){
  grid-column-end: span 2;
}

.natureWrap img:nth-child(6){
  grid-row-end: span 2;
}
.natureWrap img:nth-child(7){
  grid-column-end: span 2;
}


.wildWrap img:nth-child(1){
  grid-column-end: span 2;
}

.wildWrap img:nth-child(2){
  grid-column-end:span 1;
  /* grid-row: 1 / span 1; */
}
.wildWrap img:nth-child(3){
  grid-column-end: span 1;
}

.wildWrap img:nth-child(4){
  grid-row-end: span 1;
}
.wildWrap img:nth-child(5){
  grid-row-end: span 1;
}


.wildWrap img:nth-child(6){
  grid-column-end: span 1;
}

.wildWrap img:nth-child(7){
  grid-column-end: span 1;
}
.wildWrap img:nth-child(8){
  grid-column-end: span 1;
  
}



























.items {
  font-size: 1.5rem;
  text-align: center;
}

.socials {
  font-size: 3.2rem;
  padding: 0 7px;
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 30px 0 0 150px;
}

.footer-links li {
  padding: 0 15px;
}

.footer-links a {
  color: white;
  font-size: 1.2rem;
}

.info {
  padding-left: 20px;
  text-align: center;
}

.info .name {
  font-family: 'Reenie Beanie', cursive;
  font-size: 2.5rem;
}
